<div *ngIf="!pollActive">
  <label>Option name:</label>
  <input #optionName />
  <button mat-button (click)="addOption()">Add Option</button>
  <button mat-button (click)="startPoll()" [disabled]="options.length < 2">Start Voting Now!</button>
  <div *ngFor="let option of options">
    {{option}}
  </div>
</div>

<div *ngIf="pollActive">
  <button mat-button (click)="closePoll()">Close Poll</button>
  <div *ngFor="let proposal of proposals">
    {{proposal.name + ': ' + getName(proposal.voteCount)}}
  </div>

  <div *ngFor="let vote of votes">
    {{vote.name + ': ' + getName(vote.vote)}}
  </div>
</div>
