<div *ngIf="!pollName">
  <h4>Start new poll</h4>
  <div>
    <div class="input-group mb-3">
      <input #pollName type="text" class="form-control" placeholder="Poll name" aria-label="Name"
             aria-describedby="basic-addon1">
    </div>
  </div>
  <div *ngIf="newPollName">
    <div class="input-group mb-3">
      <input #optionName type="text" class="form-control" placeholder="Option name" aria-label="Name"
             aria-describedby="basic-addon1" (keyup.enter)="addOption()">
    </div>
    <button class="btn btn-primary" (click)="addOption()">Add Option</button>
    <button class="btn btn-secondary" (click)="startPoll()" [disabled]="options.length < 2">Start Voting Now!</button>
    <div class="my-3">
      <div *ngFor="let option of options; let index = index">
        {{index + 1 + ': ' + option}}
      </div>
    </div>
  </div>
</div>

<div *ngIf="pollName">
  <h4>{{'Active poll: ' + pollName}}</h4>
  <button class="btn btn-primary" (click)="closePoll()">Close Poll</button>
  <div class="my-3">
    <div *ngFor="let proposal of proposals">
      {{proposal.name + ': ' + proposal.voteCount}}
    </div>
  </div>

  <div class="my-3">
    <div *ngFor="let vote of votes">
      {{vote.name + ': ' + getName(vote.vote)}}
    </div>
  </div>
</div>
