<div *ngIf="!pollName">
  <div>Start new poll</div>
  <div>
    <label>Poll name:</label>
    <input #pollName />
  </div>
  <div *ngIf="newPollName">
    <label>Option name:</label>
    <input #optionName />
    <button mat-button (click)="addOption()">Add Option</button>
    <button mat-button (click)="startPoll()" [disabled]="options.length < 2">Start Voting Now!</button>
    <div *ngFor="let option of options">
      {{option}}
    </div>
  </div>
</div>

<div *ngIf="pollName">
  <button mat-button (click)="closePoll()">Close Poll</button>
  <div class="p-5">
    <div *ngFor="let proposal of proposals">
      {{proposal.name + ': ' + proposal.voteCount}}
    </div>
  </div>

  <div class="p-5">
    <div *ngFor="let vote of votes">
      {{vote.name + ': ' + getName(vote.vote)}}
    </div>
  </div>
</div>
